*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --orange: white;
    --winning-blocks: #1c5da7;
    /*winning blocks for when play has 3 in a row*/
}

body {
    color: var(--orange);
    font-family: 'Finger Paint', cursive;
}

h1 {
    font-size: 54px;
    text-transform: uppercase;
}

.container {
    padding: 40px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #1c5da7;
}

#gameboard {
    width: 450px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}

.box {
    height: 150px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--orange);
    font-size: 120px;
    border-right: 2px solid;
    border-bottom: 2px solid;
    /*border right and bottom is so that the boxes only have borders to the right and bottom*/
}
.box:nth-child(3n) {
    border-right: none; /*3rd child in the row, remove border right*/
}
.box:nth-child(6) ~.box {
    border-bottom: none; 
}
/*code above is to remove border for the last row and column of boxes*/

button {
    padding: 10px 20px;
    border-radius: 10px;
    background-color: var(--orange);
    color: #333;
    border-color: var(--orange);
    font-size: 18px;
    transition: 200ms transform;
    font-weight: 600;
}
button:hover {
    cursor: pointer;
    transform: translateY(-2px);
}
/*code above is to have a hover effect over the RESTART button*/